<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar/Editar Exercício</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Css/styles.css">
</head>
<body>
    <header></header>
    <div class="main-content">
        <h1 th:text="${exercicio.id == null ? 'Cadastrar Exercício' : 'Editar Exercício'}">Cadastrar/Editar Exercício</h1>
        <form th:action="@{${exercicio.id == null} ? '/exercicios' : '/exercicios/atualizar/' + ${exercicio.id}}" th:object="${exercicio}" method="post">
            <input type="hidden" name="_method" th:value="${exercicio.id == null ? 'POST' : 'PUT'}">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" class="form-control" th:field="*{nome}" required>
            </div>
            <div class="form-group">
                <label for="comoSeRealiza">Como Se Realiza:</label>
                <textarea id="comoSeRealiza" name="comoSeRealiza" class="form-control" th:field="*{comoSeRealiza}" required></textarea>
            </div>
            <div class="form-group">
                <label for="grupoMuscular">Grupo Muscular:</label>
                <input type="text" id="grupoMuscular" name="grupoMuscular" class="form-control" th:field="*{grupoMuscular}" required>
            </div>
            <div class="text-center">
                <button class="btn btn-success" type="submit">Salvar</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <a class="btn btn-secondary" href="/exercicios">Voltar</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
