<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Exercícios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Css/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-center">Exercícios Cadastrados</h1>
        <div class="section mt-4">
            <div class="section-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="exercicio : ${exercicios}">
                        <span th:text="${exercicio.nome}"></span>
                        <a th:href="@{/exercicios/detalhes(id=${exercicio.id})}" class="btn btn-info btn-sm ml-2">Detalhes</a>
                        <a th:href="@{/exercicios/editar/{id}(id=${exercicio.id})}" class="btn btn-primary btn-sm ml-2">Editar</a>
                        <form th:action="@{/exercicios/deletar/{id}(id=${exercicio.id})}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm ml-2" onclick="return confirm('Tem certeza que deseja deletar este exercício?');">Deletar</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-primary" href="/exercicios/novo">Cadastrar Novo Exercício</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
