<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Not Chicken - Página Principal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="Css/styles.css">
    </head>
    <body>
        <header></header>
        <h1>Bem-vindo ao Not Chicken </h1>
        <p>Escolha uma das opções abaixo para navegar pelo site:</p>

        <a href="/Exercicios" class="button-link">Listar Exercicios</a>
        <a href="/Exercicios/novo" class="button-link">Cadastrar Exercicio</a>
        <a href="/calcularImc" class="button-link">Calcular IMC</a>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
